# Backend-specific ignores
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Frontend-specific ignores (Angular)
book-network-ui/node_modules/
book-network-ui/dist/
book-network-ui/.angular/
book-network-ui/.idea/
book-network-ui/.vscode/

# General ignores
.DS_Store
Thumbs.db
.vscode/
