<div
  class="card border-2"
  style="width:20rem;"
  [class.border-success]="_book.shareable"
  [class.border-warning]="_book.archive"
>

  <img height="200" [src]="bookCover" class="card-img-top" alt="...">
  <div class="card-body overflow-scroll">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1"><i class="fa-solid fa-book"></i>&nbsp;{{_book.title}}</h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-solid fa-pencil"></i>&nbsp;{{_book.authorName}}</h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-solid fa-code"></i>&nbsp;{{_book.isbn}}</h6>
    <h6 class="card-subtitle fs-6 text-secondary "><i class="fa-solid fa-user"></i>&nbsp;{{_book.owner}}</h6>
    <hr>
    <p class="card-text">{{_book.synopsis}}</p>
  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
   <div class="d-flex  gap-2">
     <app-rating [_rating]="_book.rate || 0"></app-rating>
     <span class="fw-bold" *ngIf="_book.rate || 0> 0">
       {{_book.rate}}
     </span>
   </div>
    <div class="d-flex gap-2" *ngIf="!_manage">
      <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"></i>
      <i (click)="onBorrow()" class="fas fa-list-check text-primary"></i>
      <i (click)="onAddToWaitingList()" class="fas fa-heart text-danger"></i>
    </div>
    <div class="d-flex gap-2" *ngIf="_manage">
      <i (click)="onEdit()" class="fa-solid fa-pen-to-square text-success"></i>
      <i (click)="onShare()" class="fas fa-share-nodes text-primary"></i>
      <i (click)="onArchive()" class="fa-solid fa-box-archive text-danger"></i>
    </div>
  </div>
</div>
